assets/robots/Collected_nova_carter_with_lift/*
assets/robots/Collected_m0609_with_lift/*
scenes/Collected_smartfarm*/*
scenes/smartfarm_v1/*
scenes/Collected_m0609_with_lift/*
assets/omniverse-content-production.s3-us-west-2.amazonaws.com-20260918T083303Z-1-001/*
